#projectsPreview{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
     text-align: center;
}
#projectsPreview div{
padding: 20px;
font-size: 30px;
text-align: center;

}


.imageStyle {
    width: 470px;
    height: 300px;

  }
  
  #projectsPreview article {
    width: 470px;
    height: 150px;
    background-color: cadetblue;
    color: black;
    text-decoration: none;


  }

  #projectsPreview a{
    display: block;
    width: 470px;
    height: 460px;
    text-decoration: none;
  }
  #projectsPreview h4{
    margin-bottom: 20px;
  }