#section1{
    float:left;
  width:50%;
  height: 100%;
background-color: red;

}
#section2{
float: right;
width:50%;
background-color: royalblue;
height: 100%
}
#project-form{
    overflow:auto;
    width: 80%;
    background: salmon;
    margin-left:auto;
    margin-right: auto;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 350px;
 
}
#project-form input{
    width: 80%;
    height: 10%;
    border: solid blue 1px;
    border-radius: 5px;
    background-color:#a1c5e1;
    


}