*{
    font-family: Arial, Helvetica, sans-serif;
    color: #1b7ed3;
}
#section1{
    float:left;
  width:50%;
  height: 100%;
/* background-color: red; */

}
#section2{
float: right;
width:50%;
/* background-color: royalblue; */
height: 100%
}
#project-form{
    overflow:auto;
    width: 80%;
    /* background: salmon; */
    margin-left:auto;
    margin-right: auto;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 500px;
 
}
#project-form input{
    width: 80%;
    height: 10%;
    border: solid #88bee7 1px;
    border-radius: 5px;
    background-color:#f1f9ff;
    
margin-top: 7px;
margin-bottom: 15px;
}
#project-form input#submitProject{
    width: 86%;
    border-radius: 0px;
    background-color: #2699fb;
    color: white;
}
#project-form textarea{
width: 85%;
resize: none;
margin-top: 7px;
margin-bottom: 15px;
background-color: #f1f9ff;
height: 85%;
border-radius: 5px;
border-color: #88bee7;
}
#project-form select{
    margin-left: 30px;
    width: 33%;
    height: 10%;
    border: 1.5px solid rgb(122, 122, 204);
    margin-top: 11px;
}