@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");
/* #title{
    font-size: 300%;
    margin: 50px;
    color:rgba(83, 82, 82, 0.867);
    font-weight: bold;
  } */
  
  /* .img-info{
   display: flex;
  } */

  
  
 
  
  

  
  
