#in_my_wallet {
    color: seashell;
    background-color: dodgerblue;
    width: 500px;
    height: 500px;
    margin-left: 828px;
    position: relative;
    top: -200px;
}
h1 {
    color: dimgray;
}
#btn1, #btn2 {
    color: rgb(255, 255, 255);
    background-color: dodgerblue;
    text-align: center;
    font-size: larger;
    padding: 20px;
    margin-top: 40px;
    transition:3s;
    /* margin-left: 100px; */
}
h3 {
    margin: 20px;
    /* margin-left: 100px; */
    color: deepskyblue;
}
input {
    border: 2px solid dodgerblue;
}
#first {
    margin-left: 399px;
    position: relative;
    top: 185px;
}
#second {
    margin-top: 3px;
    margin-left: 150px;
}
/* #btn_2,#btn_1 :hover{  
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
    transition-duration:1s;
    padding: 20px;
    margin-top: 40px; */