@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

body {
  background-color: #f6f8ff;
  font-family: "Raleway", sans-serif;
}

/* -------------- HEADER SECTION -------------- */
header {
  background-color: #fdfffc;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
}

header img {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

header nav {
  display: inline;
}

header div {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}

header div a {
  color: #646363;
  text-align: center;
  text-decoration: none;
}
header div a:hover {
  color: #00f260;
  transition-duration: 360ms;
}

ul {
  width: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10pt;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: #646363;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  color: #00f260;
  transition-duration: 360ms;
}
.dropdown-content a:hover {
  color: #0575e6;
  transition-duration: 360ms;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #646363;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* -------------- START PROJECT PAGE -------------- */

.main-section {
  background-image: linear-gradient(
      to left,
      rgba(103, 178, 111, 0.7),
      rgba(5, 117, 230, 0.7)
    ),
    url("../img/help.jpg");

  background-size: cover;
  color: white;
  padding: 100px 0;
}

.page-card {
  background-color: #fff;
  border: 1px solid #aaa;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin-top: 30px;
}

.title-border {
  height: 4px;
  width: 30%;
  margin: 20px auto;
  background-color: #90c99a;
}

.form-container {
  margin: 50px 0;
}
#section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#project-form {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #646363;
  width: 70%;
  margin: 0 auto;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
}

#project-form [type="submit"] {
  border: 0;
  border-radius: 10px;
  background: rgb(5, 117, 230);
  background: linear-gradient(
    90deg,
    rgba(5, 117, 230, 1) 0%,
    rgba(0, 242, 96, 1) 100%
  );
  font-size: 10pt;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 15px 10px;
  width: 100%;
  margin-top: 14px;
}

#project-form [type="text"],
#project-form [type="number"] {
  width: 100%;
  border: solid #88bee7 1px;
  border-radius: 5px;
  background-color: #f6f8ff;
  margin-top: 7px;
  margin-bottom: 15px;
  padding: 15px 10px;
}
#project-form textarea {
  margin-top: 7px;
  resize: none;
  height: auto;
  background-color: #f1f9ff;
  border-radius: 5px;
  border-color: #88bee7;
}
#project-form select {
  width: 100%;
  border: solid #88bee7 1px;
  border-radius: 5px;
  background-color: #f6f8ff;
  margin-top: 7px;
  padding: 15px 10px;
}

/* -------------- WALLET PAGE --------------  */
#in_my_wallet {
  color: seashell;
  background-color: dodgerblue;
  width: 500px;
  height: 500px;
  margin-left: 828px;
  position: relative;
  top: -200px;
}

#walletValue {
  font-size: 30pt;
}
h1 {
  color: dimgray;
}
#btn1,
#btn2 {
  color: rgb(255, 255, 255);
  background-color: dodgerblue;
  text-align: center;
  font-size: larger;
  padding: 20px;
  margin-top: 40px;
  transition: 3s;
  /* margin-left: 100px; */
}
h3 {
  margin: 20px;
  /* margin-left: 100px; */
  color: deepskyblue;
}
input {
  border: 2px solid dodgerblue;
}


#first {
  margin-left: 399px;
  position: relative;
  top: 185px;
}
#second {
  margin-top: 3px;
  margin-left: 150px;
}
/* #fasbtn_2,#btn_1 :hover{  
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
    transition-duration:1s;
    padding: 20px;
    margin-top: 40px; */

.fa-map-marker-alt {
  font-size: 40px;
  color: #0575e6;
}

#myChart{
  margin: 0 auto;
}